* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}

ul {
  list-style: none;
}

.socials i {
  font-size: 25px;
}

.section-title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px;
}

.banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.banner-area .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.banner-area .banner-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.banner-area h1 {
  margin-bottom: 15px;
  font-size: 65px;
  font-family: merienda;
}

.banner-area h3 {
  margin-bottom: 40px;
  font-size: 25px;
}

ul.contact-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-content li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}

.contact-content li i {
  font-size: 50px;
  margin-bottom: 25px;
}

.contact-content li p {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .contact-content li {
    flex-basis: 100%;
    margin-bottom: 65px;
  }

  .contact-content li:last-child {
    margin-bottom: 0;
  }

  .contact-content li p {
    padding: 0;
  }
}

nav a{
  color: #f7f7f7 !important;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}